//-------colors-------------

$orange: rgb(246, 189, 88);
$blue: rgb(97, 197, 190);
$dark-blue: rgb(72, 81, 95);
$red: rgb(233, 94, 108);

//--------font---------------

@font-face {
    font-family: 'Nord Bold';
    src: url('font/nord-bold-webfont.woff2') format('woff2'),
         url('font/nord-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// -----color classes--------

.orange {
  color: $orange;
  background-color: transparent !important;
}

.dark-blue {
  color: $dark-blue;
}

.blue {
  color: $blue;
  background-color: transparent !important;
}

.red {
  color: $red;
  background-color: transparent !important;
}


//----element styles---------

body {
  font-family: 'Nord Bold';
  background-image: url('images/halftone.png');
  letter-spacing: 4px;
}

.relative {
  position: relative;
}

.center {
  text-align: center;
}

.center-x {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}

.round {
  border-radius: 100%;
}

.big-box {
  border: solid 3px;
  font-size: 25px;
  padding: 5px;
  display: inline-block;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

input[type=text] {
  border-bottom: solid 3px;
}

input[type=text]:focus:not([read-only]) {
  box-shadow: none;
  border-width: 3px;
}

.input-field label {
  color: $blue;
  letter-spacing: 2px;
}

.medium-button {
  font-size: 16px;
  letter-spacing: 2px;
  border: solid 3px;
  background-color: transparent;
  padding-top: 6px;
}

.corner-circle {
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: -47px;
  left: -38px;
  width: 150px;
  height: 150px;
}

.corner-text {
  width: 100px;
  color: $orange;
  position: absolute;
  top: 10px;
  left: 15px;
}

.form-error {
  color: $dark-blue;
  display: none;
}

// -------landing page----------

#landing-row {
  width: 320px;
}

.landing-wrapper {
  margin-top: 75px;
}

.big-circle {
  background-color: rgba(255, 255, 255, 0.5);
  height: 260px;
  width: 260px;
  z-index: -1;
}

.big-logo {
  width: 275px;
  top: 110px;
}

#signIn, #signUp {
  width: 150px;
}

#signIn {
  border-color: $blue;
  color: $blue;
  margin-top: 300px;
  margin-bottom: 5px;
}

#signUp {
  border-color: $red;
  color: $red;
}

#landing-corner-logo, .landing-form {
  display: none;
}

.landing-form {
  width: 275px;
  margin: auto;
  margin-top: 150px;
  h3 {
    margin-bottom: 40px;
    color: $dark-blue;
    text-align: center;
  }
  button {
    float: right;
  }
}

#sign-in-form {
  input[type=text] {
    border-color: $blue;
    color: $blue;
    &:focus {
      color: $blue;
      border-color: $blue;
    }
  }
  button {
    color: $blue;
    border-color: $blue;
  }
}

#sign-up-form {
  input[type=text] {
    border-color: $red;
    color: $red;
    &:focus {
      color: $red;
      border-color: $red;
    }
  }
  label {
    color: $red;
  }
  button {
    color: $red;
    border-color: $red;
  }
}
