@font-face {
  font-family: 'Nord Bold';
  src: url("font/nord-bold-webfont.woff2") format("woff2"), url("font/nord-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.orange {
  color: #f6bd58;
  background-color: transparent !important; }

.dark-blue {
  color: #48515f; }

.blue {
  color: #61c5be;
  background-color: transparent !important; }

.red {
  color: #e95e6c;
  background-color: transparent !important; }

.red-box {
  color: #e95e6c;
  border-color: #e95e6c; }

.blue-box {
  color: #61c5be;
  border-color: #61c5be; }

.orange-box {
  color: #f6bd58;
  border-color: #f6bd58; }

.dark-blue-box {
  color: #48515f;
  border-color: #48515f; }

body {
  font-family: 'Nord Bold';
  background-image: url("images/halftone.png");
  letter-spacing: 4px; }

.relative {
  position: relative; }

.center {
  text-align: center; }

.center-x {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0); }

.round {
  border-radius: 100%; }

.big-box {
  border: solid 3px;
  font-size: 25px;
  padding: 5px;
  display: inline-block;
  text-align: center; }
  .big-box:hover {
    cursor: pointer; }

input[type=text]:focus:not([read-only]) {
  box-shadow: none;
  border-width: 3px; }

.input-field label {
  color: #61c5be;
  letter-spacing: 2px; }

button:focus {
  background-color: transparent; }

.medium-button {
  font-size: 16px;
  letter-spacing: 2px;
  border: solid 3px;
  background-color: transparent;
  padding-top: 6px; }

.corner-circle {
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: -47px;
  left: -38px;
  width: 150px;
  height: 150px;
  z-index: -1; }

.corner-text {
  width: 100px;
  color: #f6bd58;
  position: absolute;
  top: 10px;
  left: 15px; }

.form-error {
  color: #48515f;
  display: none; }

.menu-list li {
  font-size: 24px;
  border-bottom: solid 3px;
  padding-bottom: 5px;
  width: 250px;
  margin: 60px auto;
  text-align: center;
  text-transform: uppercase; }

h3 {
  text-transform: uppercase; }

.back {
  position: absolute;
  top: 20px;
  left: 20px; }
  .back i {
    color: #f6bd58;
    vertical-align: bottom; }
  .back p {
    margin: 0;
    display: inline;
    color: #f6bd58;
    letter-spacing: 2px; }

#landing {
  position: relative;
  right: 0; }

#landing-row {
  width: 320px; }

.landing-wrapper {
  margin-top: 75px; }

.big-circle {
  background-color: rgba(255, 255, 255, 0.5);
  height: 260px;
  width: 260px;
  z-index: -1; }

.big-logo {
  width: 275px;
  top: 110px; }

#signIn, #signUp {
  width: 150px; }

#signIn {
  border-color: #61c5be;
  color: #61c5be;
  margin-top: 300px;
  margin-bottom: 5px; }

#signUp {
  border-color: #e95e6c;
  color: #e95e6c; }

#signInView, #signUpView {
  display: none; }

.landing-form {
  position: relative;
  width: 275px;
  margin: auto;
  margin-top: 150px;
  left: 500px; }
  .landing-form h3 {
    margin-bottom: 40px;
    color: #48515f;
    text-align: center; }
  .landing-form button {
    float: right; }

#sign-in-form input[type=text] {
  border-color: #61c5be;
  color: #61c5be; }
  #sign-in-form input[type=text]:focus {
    color: #61c5be;
    border-color: #61c5be; }
#sign-in-form button {
  color: #61c5be;
  border-color: #61c5be; }

#sign-up-form input[type=text] {
  border-color: #e95e6c;
  color: #e95e6c; }
  #sign-up-form input[type=text]:focus {
    color: #e95e6c;
    border-color: #e95e6c; }
#sign-up-form label {
  color: #e95e6c; }
#sign-up-form button {
  color: #e95e6c;
  border-color: #e95e6c; }

.toggle-sign {
  position: absolute;
  top: 0px;
  right: 10px;
  color: #f6bd58;
  font-size: 13px; }
  .toggle-sign:hover {
    cursor: pointer;
    text-decoration: underline; }

.form-error {
  color: #48515f;
  font-size: 11px;
  letter-spacing: 2px; }

.mobile-menu-icon {
  position: absolute;
  top: 20px;
  right: 20px; }
  .mobile-menu-icon i {
    color: #48515f; }

.mobile-main-menu {
  margin-top: 150px; }

.mobile-drop-menu {
  display: none;
  z-index: 3;
  margin-top: 150px; }

#x {
  display: none; }

.sign-out {
  font-size: 12px;
  color: #48515f;
  letter-spacing: 2px;
  position: absolute;
  top: 15px;
  right: 20px; }

.main-menu {
  margin: 0 auto;
  margin-top: 150px;
  width: 500px;
  text-align: center; }

.menu-box {
  position: relative;
  width: 150px;
  height: 150px;
  font-size: 30px;
  text-transform: uppercase;
  border: solid 3px;
  padding: 10px;
  display: inline-block;
  clear: both;
  margin-bottom: 30px; }
  .menu-box:nth-child(2n) {
    border-color: #48515f; }
    .menu-box:nth-child(2n) a {
      color: #48515f; }
  .menu-box:nth-child(3n+1) {
    float: left;
    clear: none; }
  .menu-box:nth-child(3n) {
    float: right;
    clear: none;
    border-color: #e95e6c; }
    .menu-box:nth-child(3n) a {
      color: #e95e6c; }
  .menu-box:nth-child(5n+1) {
    border-color: #f6bd58; }
    .menu-box:nth-child(5n+1) a {
      color: #f6bd58; }
  .menu-box:nth-child(4n) {
    border-color: #e95e6c; }
    .menu-box:nth-child(4n) a {
      color: #e95e6c; }
  .menu-box:nth-child(5n) {
    border-color: #61c5be; }
    .menu-box:nth-child(5n) a {
      color: #61c5be; }
  .menu-box:nth-child(7n) {
    border-color: #48515f; }
    .menu-box:nth-child(7n) a {
      color: #48515f; }
  .menu-box div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

#mobile-category {
  margin-top: 120px; }
  #mobile-category h3 {
    margin: 0; }
  #mobile-category li:nth-child(3n+1) {
    color: #48515f;
    border-color: #48515f; }
    #mobile-category li:nth-child(3n+1) a {
      color: #48515f; }
  #mobile-category li:nth-child(2n) {
    color: #61c5be;
    border-color: #61c5be; }
    #mobile-category li:nth-child(2n) a {
      color: #61c5be; }
  #mobile-category li:nth-child(3n) {
    color: #f6bd58;
    border-color: #f6bd58; }
    #mobile-category li:nth-child(3n) a {
      color: #f6bd58; }
  #mobile-category li:hover {
    cursor: pointer; }

.category-box {
  position: relative;
  height: 125px;
  width: 225px;
  float: left;
  font-size: 30px;
  text-transform: uppercase;
  border-bottom: solid 3px;
  display: inline-block;
  margin: 30px 0; }
  .category-box:nth-child(even) {
    float: right; }
  .category-box:nth-child(3n) {
    color: #f6bd58;
    border-color: #f6bd58; }
    .category-box:nth-child(3n) a {
      color: #f6bd58; }
  .category-box:nth-child(2n) {
    color: #f6bd58;
    border-color: #f6bd58; }
    .category-box:nth-child(2n) a {
      color: #f6bd58; }
  .category-box:nth-child(3n+1) {
    color: #48515f;
    border-color: #48515f; }
    .category-box:nth-child(3n+1) a {
      color: #48515f; }
  .category-box:nth-child(4n+1) {
    color: #61c5be;
    border-color: #61c5be; }
    .category-box:nth-child(4n+1) a {
      color: #61c5be; }
  .category-box:hover {
    cursor: pointer; }

#desk-category {
  width: 575px;
  margin: auto;
  margin-top: 150px; }
  #desk-category h4 {
    margin: 0;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%); }
  #desk-category i {
    font-size: 36px;
    vertical-align: bottom;
    display: inline; }

.userBadges {
  margin-top: 120px;
  text-align: center; }

.badge {
  margin-top: 60px;
  margin-bottom: 0; }
  .badge img {
    width: 200px; }
  .badge h4 {
    text-transform: uppercase;
    color: #48515f; }
  .badge:last-child {
    margin-bottom: 100px; }
  .badge h5 {
    color: #48515f;
    font-size: 16px;
    letter-spacing: 2px; }

.tablet-badges {
  width: 750px;
  margin: auto; }
  .tablet-badges .badge {
    width: 375px;
    margin-right: 0px;
    display: inline;
    float: left; }
    .tablet-badges .badge img {
      width: 200px; }
    .tablet-badges .badge:nth-child(even) {
      float: right; }

.game-board {
  margin-top: 120px;
  text-align: center; }
  .game-board h3 {
    width: 80%;
    margin: auto; }

.mobile-board .menu-box {
  margin: 40px auto;
  float: none;
  clear: none;
  display: block;
  border-width: 5px;
  border-color: #61c5be;
  width: 200px;
  height: 200px;
  color: #61c5be; }
  .mobile-board .menu-box h4 {
    font-size: 40px; }
  .mobile-board .menu-box:nth-child(even) {
    color: #e95e6c;
    border-color: #e95e6c; }

.tablet-board {
  width: 500px;
  margin: auto;
  margin-top: 50px; }
  .tablet-board .menu-box:nth-child(8n+1) {
    color: #61c5be;
    border-color: #61c5be; }
  .tablet-board .menu-box:nth-child(2n) {
    color: #48515f;
    border-color: #48515f; }
  .tablet-board .menu-box:nth-child(5) {
    color: #f6bd58;
    border-color: #f6bd58; }
  .tablet-board .menu-box:nth-child(7) {
    color: #48515f;
    border-color: #48515f; }
  .tablet-board .menu-box:nth-child(4n) {
    color: #e95e6c;
    border-color: #e95e6c; }
  .tablet-board .menu-box:nth-child(3) {
    color: #e95e6c;
    border-color: #e95e6c; }

.star {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%); }
  .star img {
    width: 175px; }

.tablet-star {
  display: none; }
  .tablet-star img {
    width: 145px;
    padding-top: 15px; }

.free-star {
  display: block;
  z-index: -1; }

.mobile-modal {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0; }

.modal-message {
  width: 300px;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center; }
  .modal-message h4 {
    margin-bottom: 40px;
    color: #f6bd58; }
  .modal-message .medium-button:nth-child(2) {
    margin-right: 20px; }

.tablet-modal {
  display: none;
  position: absolute;
  width: 520px;
  height: 530px;
  top: 210px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.9); }
  .tablet-modal .modal-message {
    top: 150px; }
    .tablet-modal .modal-message h4 {
      color: #48515f; }

.newBadge {
  margin-top: 75px;
  text-align: center; }
  .newBadge h3 {
    margin-bottom: 0; }
  .newBadge h5 {
    margin-top: 5px;
    font-size: 18px;
    letter-spacing: 2px; }
  .newBadge #badge-message {
    font-size: 20px;
    margin-bottom: 20px; }

.congrats {
  display: inline-block;
  border-bottom: solid 3px #f6bd58; }

.add-card h3 {
  margin-top: 125px;
  margin-bottom: 50px;
  text-align: center; }
.add-card .input-field {
  width: 250px;
  margin: auto; }
  .add-card .input-field span {
    color: #e95e6c;
    font-size: 14px; }
  .add-card .input-field .select-dropdown {
    color: #e95e6c;
    border-bottom: solid 2px #e95e6c; }
.add-card .error-wrapper {
  width: 250px;
  height: 50px;
  margin: auto; }
  .add-card .error-wrapper p {
    float: left;
    width: 100px;
    padding-top: 10px; }

.card-name input[type=text] {
  border-bottom: solid 3px #48515f;
  margin-bottom: 40px; }
  .card-name input[type=text]:focus {
    color: #48515f;
    border-bottom-color: #48515f; }
.card-name label {
  color: #48515f !important;
  font-size: 24px;
  text-align: center; }

.box-input-wrapper {
  width: 250px;
  margin: auto;
  margin-top: 40px; }
  .box-input-wrapper .box-input {
    position: relative;
    width: 110px;
    float: left;
    border: solid 3px;
    padding: 3px;
    text-align: center;
    line-height: 28px; }
    .box-input-wrapper .box-input i {
      vertical-align: text-bottom;
      font-size: 20px;
      font-weight: bold; }
    .box-input-wrapper .box-input .edit-arrow {
      display: none;
      color: #e95e6c;
      position: absolute;
      top: 22px;
      left: -12px;
      font-size: 36px; }
    .box-input-wrapper .box-input:nth-child(even) {
      float: right; }
    .box-input-wrapper .box-input:hover {
      cursor: pointer; }
  .box-input-wrapper .ready {
    color: #61c5be;
    border-color: #61c5be; }
    .box-input-wrapper .ready i {
      color: #61c5be; }
  .box-input-wrapper .done, .box-input-wrapper .edit {
    color: #e95e6c;
    border-color: #e95e6c; }
    .box-input-wrapper .done i, .box-input-wrapper .edit i {
      color: #e95e6c; }

.box-input-form {
  display: none;
  margin-bottom: 50px;
  width: 250px;
  margin: auto; }
  .box-input-form input[type=text] {
    border-bottom: solid 2px #e95e6c;
    color: #e95e6c; }
    .box-input-form input[type=text]:focus {
      color: #e95e6c;
      border-bottom-color: #e95e6c; }
  .box-input-form label {
    color: #e95e6c !important;
    top: auto;
    bottom: 30px; }
  .box-input-form .active {
    display: none; }
  .box-input-form .done-button {
    float: right;
    border: solid 2px #e95e6c;
    color: #e95e6c;
    padding: 3px;
    letter-spacing: 2px; }
    .box-input-form .done-button:hover {
      cursor: pointer; }

.button-wrapper {
  width: 250px;
  margin: auto; }
  .button-wrapper button {
    margin-top: 20px;
    margin-bottom: 50px;
    float: right;
    color: #f6bd58;
    border-color: #f6bd58; }

/*# sourceMappingURL=style.css.map */
