<!-- corner logo -->
<div id="landing-corner-logo">
  <div class="round corner-circle"></div>
  <h5 class="corner-text">512 BINGO</h5>
</div>

<!-- mobile category menu -->
<section id="mobile-category" class="hide-on-med-and-up">
  <h3 class="center red">people</h3>
  <ul class="menu-list">
    <li>we're all a little weird</li>
    <li>that guy at that place</li>
    <li>climb that statue!</li>
  </ul>
</section>

<!-- tablet+ category menu -->
<section id="desk-category" class="hide-on-small-only center">
  <p class="sign-out">
    sign out
  </p>
  <h3 class="red">people</h3>
  <div class="">
    <div class="category-box">
      <div class="">
        <h4>we're all a little weird</h4>
      </div>
    </div>
    <div class="category-box">
      <div class="">
        <h4>that guy at that place</h4>
      </div>
    </div>
    <div class="category-box">
      <div class="">
        <h4>climb that statue!</h4>
      </div>
    </div>
  </div>
</section>
