<!-- back arrow -->
<div class="back">
  <i class="material-icons">arrow_back</i><p>
    back
  </p>
</div>

<!-- mobile game board -->
<section class="game-board hide-on-med-and-up">
  <h3 class="dark-blue">That guy at that place</h3>
  <div class="mobile-board">
    <div class="menu-box mobile-box" data-box="1">
      <div>
        <h4>hipster eating a taco</h4>
      </div>
      <div class="star">
        <img src="style/images/star.png" alt="star">
      </div>
    </div>
    <div class="menu-box mobile-box" data-box="2">
      <div>
        <h4>hipster eating a taco</h4>
      </div>
      <div class="star">
        <img src="style/images/star.png" alt="star">
      </div>
    </div>
  </div>
</section>

<!-- Mobile Modal -->
<div class="mobile-modal hide-on-med-and-up">
  <div class="modal-message">
    <h4>Awesome! <br />You found it?</h4>
    <button class="medium-button notFound red-box">Oh....no</button>
    <button class="medium-button found blue-box">You bet</button>
  </div>
</div>

<!-- tablet+ game board -->
<section class="game-board hide-on-small-only">
  <h3 class="orange">that guy at that place</h3>
  <div class="tablet-board">
    <div class="menu-box tablet-box" data-box="1">
      <div>
        <h4>hipster eating a taco</h4>
      </div>
      <div class="tablet-star">
        <img src="style/images/star.png" alt="star">
      </div>
    </div>
    <div class="menu-box tablet-box" data-box="2">
      <div>
        <h4>hipster eating a taco</h4>
      </div>
      <div class="tablet-star">
        <img src="style/images/star.png" alt="star">
      </div>
    </div>
    <div class="menu-box tablet-box" data-box="3">
      <div>
        <h4>hipster eating a taco</h4>
      </div>
      <div class="tablet-star">
        <img src="style/images/star.png" alt="star">
      </div>
    </div>
    <div class="menu-box tablet-box" data-box="4">
      <div>
        <h4>hipster eating a taco</h4>
      </div>
      <div class="tablet-star">
        <img src="style/images/star.png" alt="star">
      </div>
    </div>
    <div class="menu-box">
      <div class="free-space">
        <h4>512 Bingo</h4>
      </div>
      <div class="tablet-star free-star">
        <img src="style/images/star.png" alt="star">
      </div>
    </div>
    <div class="menu-box tablet-box" data-box="5">
      <div>
        <h4>hipster eating a taco</h4>
      </div>
      <div class="tablet-star">
        <img src="style/images/star.png" alt="star">
      </div>
    </div>
    <div class="menu-box tablet-box" data-box="6">
      <div>
        <h4>hipster eating a taco</h4>
      </div>
      <div class="tablet-star">
        <img src="style/images/star.png" alt="star">
      </div>
    </div>
    <div class="menu-box tablet-box" data-box="7">
      <div>
        <h4>hipster eating a taco</h4>
      </div>
      <div class="tablet-star">
        <img src="style/images/star.png" alt="star">
      </div>
    </div>
    <div class="menu-box tablet-box" data-box="8">
      <div>
        <h4>hipster eating a taco</h4>
      </div>
      <div class="tablet-star">
        <img src="style/images/star.png" alt="star">
      </div>
    </div>
  </div>
</section>

<!-- Tablet Modal -->
<div class="tablet-modal hide-on-small-only">
  <div class="modal-message">
    <h4>Awesome! You found it?</h4>
    <button class="medium-button red-box notFound">Oh...no</button>
    <button class="medium-button blue-box found">You bet</button>
  </div>
</div>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Materialize Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<!-- local js -->
<script src="js/game.js" charset="utf-8"></script>
