<!-- corner logo -->
<div id="landing-corner-logo">
  <div class="round corner-circle"></div>
  <h5 class="corner-text">512 BINGO</h5>
</div>

<!-- mobile main menu -->
<section class="hide-on-med-and-up">
  <!-- mobile additional menu -->
  <div class="mobile-menu-icon">
    <i class="small material-icons" id="menu">menu</i>
    <i class="small material-icons" id="x">close</i>
  </div>
  <!-- menu items -->
  <div class="mobile-main-menu">
    <ul class="menu-list">
      <a href="/my-games">
        <li class="orange-box">my games <i class="material-icons ">chevron_right</i></li>
      </a>
      <a href="/menu/around-town">
        <li class="red-box">around town <i class="material-icons">chevron_right</i></li>
      </a>
      <a href="/menu/weird">
        <li class="blue-box">weird <i class="material-icons">chevron_right</i></li>
      </a>
      <a href="/menu/food-&-drink">
        <li class="dark-blue-box">food & drink <i class="material-icons">chevron_right</i></li>
      </a>
      <a href="/menu/parks-&-rec">
        <li class="orange-box">parks & rec <i class="material-icons">chevron_right</i></li>
      </a>
    </ul>
  </div>
</section>

<!-- mobile dropdown menu -->
<div class="mobile-drop-menu">
  <ul class="menu-list">
    <a href="/add">
      <li class="red">add a card <i class="material-icons">chevron_right</i></li>
    </a>
    <a href="/my-badges">
      <li class="blue">my badges <i class="material-icons">chevron_right</i></li>
    </a>
    <a href="/sign-out">
      <li class="dark-blue">sign out <i class="material-icons">chevron_right</i></li>
    </a>
  </ul>
</div>

<!-- tablet+ main menu -->
<section class="hide-on-small-only">
  <a href="/sign-out">
    <p class="sign-out">
      sign out
    </p>
  </a>
  <div class="main-menu">
    <div class="menu-box">
      <div class="hold-center">
        <a href="/my-games">
          <h4>my games</h4>
        </a>
      </div>
    </div>
    <div class="menu-box">
      <div class="hold-center">
        <a href="my-badges">
          <h4>my badges</h4>
        </a>
      </div>
    </div>
    <div class="menu-box">
      <div class="hold-center">
        <a href="/add">
          <h4>add a card</h4>
        </a>
      </div>
    </div>
    <div class="menu-box">
      <div class="hold-center">
        <a href="/menu/weird">
          <h4>weird</h4>
        </a>
      </div>
    </div>
    <div class="menu-box">
      <div class="hold-center">
        <a href="/menu/around-town">
          <h4>around town</h4>
        </a>
      </div>
    </div>
    <div class="menu-box">
      <div class="hold-center">
        <a href="/menu/food-&-drinks">
          <h4>food & drinks</h4>
        </a>
      </div>
    </div>
    <div class="menu-box">
      <div class="hold-center">
        <a href="/menu/parks-&-rec">
          <h4>parks & rec</h4>
        </a>
      </div>
    </div>
  </div>
</section>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Materialize Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<!-- local js -->
<script src="js/menu.js" charset="utf-8"></script>
