<!-- corner logo -->
<div id="landing-corner-logo">
  <div class="round corner-circle"></div>
  <h5 class="corner-text">512 BINGO</h5>
</div>

<!-- mobile main menu -->
<section class="hide-on-med-and-up">
  <!-- mobile additional menu -->
  <div class="mobile-menu-icon">
    <i class="small material-icons" id="menu">menu</i>
    <i class="small material-icons" id="x">close</i>
  </div>
  <!-- menu items -->
  <div class="mobile-main-menu">
    <ul class="menu-list">
      <li>my games <i class="material-icons">chevron_right</i></li>
      <li>places <i class="material-icons">chevron_right</i></li>
      <li>people <i class="material-icons">chevron_right</i></li>
      <li>food <i class="material-icons">chevron_right</i></li>
    </ul>
  </div>
</section>

<!-- mobile dropdown menu -->
<div class="mobile-drop-menu">
  <ul class="menu-list">
    <li class="red">add a card <i class="material-icons">chevron_right</i></li>
    <li class="blue">my badges <i class="material-icons">chevron_right</i></li>
    <li class="dark-blue">sign out <i class="material-icons">chevron_right</i></li>
  </ul>
</div>

<!-- tablet+ main menu -->
<section class="hide-on-small-only">
  <p class="sign-out">
    sign out
  </p>
  <div class="main-menu">
    <div class="menu-box">
      <div class="hold-center">
        <h4>my games</h4>
      </div>
    </div>
    <div class="menu-box">
      <div class="hold-center">
        <h4>my badges</h4>
      </div>
    </div>
    <div class="menu-box">
      <div class="hold-center">
        <h4>add a card</h4>
      </div>
    </div>
    <div class="menu-box">
      <div class="hold-center">
        <h4>people</h4>
      </div>
    </div>
    <div class="menu-box">
      <div class="hold-center">
        <h4>places</h4>
      </div>
    </div>
    <div class="menu-box">
      <div class="hold-center">
        <h4>food</h4>
      </div>
    </div>
  </div>
</section>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Materialize Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<!-- local js -->
<script src="js/menu.js" charset="utf-8"></script>
