<!-- back arrow -->
<div class="back menu-back">
  <i class="material-icons">arrow_back</i><p>
    menu
  </p>
</div>

<!-- new badge -->
<section class="newBadge">
  <h3 class="orange congrats"> Congrats!</h3>
  <h5 class="orange">you found the weird</h5>
  <div>
    <div class="badge" data-badge="1">
      <h5 class="dark-blue" id="badge-message">new badge!</h5>
      <img src="" alt="Scout Badge" id="badgeImg">
      <h4 class="dark-blue" id="badgeName"></h4>
      <h5 class="dark-blue" id="badgeTag"></h5>
    </div>
  </div>
</section>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- local js -->
<script src="/js/badge.js" charset="utf-8"></script>
