<!-- back arrow -->
<div class="back menu-back">
  <i class="material-icons">arrow_back</i><p>
    menu
  </p>
</div>

<!-- new badge -->
<section class="newBadge">
  <h3 class="orange congrats"> Congrats!</h3>
  <h5 class="orange">you found the weird</h5>
  <div>
    <div class="badge" data-badge="1">
      <img src="style/images/food-scout.png" alt="Scout Badge">
      <h4 class="dark-blue">Food Scout</h4>
      <h5 class="dark-blue">yum...</h5>
    </div>
  </div>
</section>
