<!-- back arrow -->
<div class="back">
  <i class="material-icons">arrow_back</i><p>
    back
  </p>
</div>

<!-- mobile user games menu -->
<section id="mobile-category" class="hide-on-med-and-up">
  <h3 class="center red">My Games</h3>
  <ul class="menu-list">
    <li>we're all a little weird<i class="material-icons">chevron_right</i></li>
    <li>climb that statue!<i class="material-icons">chevron_right</i></li>
  </ul>
</section>

<!-- tablet+ games menu -->
<section id="desk-category" class="hide-on-small-only center">
  <p class="sign-out">
    sign out
  </p>
  <h3 class="red">my games</h3>
  <div class="">
    <div class="category-box">
      <div class="">
        <h4>we're all a little weird<i class="material-icons">chevron_right</i></h4>
      </div>
    </div>
    <div class="category-box">
      <div class="">
        <h4>climb that statue!<i class="material-icons">chevron_right</i></h4>
      </div>
    </div>
  </div>
</section>
