<!-- back arrow -->
<div class="back">
  <i class="material-icons">arrow_back</i><p>
    back
  </p>
</div>

<!-- mobile user badges -->
<section class="userBadges hide-on-med-and-up">
  <h3 class="orange">My Badges</h3>
  <div>
    <div class="badge" data-badge="1">
      <img src="style/images/food-scout.png" alt="Scout Badge">
      <h4 class="dark-blue">Food Scout</h4>
      <h5 class="dark-blue">yum...</h5>
    </div>
    <div class="badge" data-badge="2">
      <img src="style/images/food-scout.png" alt="Scout Badge">
      <h4 class="dark-blue">Food Scout</h4>
      <h5 class="dark-blue">yum...</h5>
    </div>
  </div>
</section>

<!-- tablet+ user badges -->
<section class="userBadges hide-on-small-only">
  <h3 class="orange">My badges</h3>
  <div class="tablet-badges">
    <div class="badge">
      <img src="style/images/food-scout.png" alt="Sout Badge">
      <h4 class="dark-blue">Food Scout</h4>
      <h5 class="dark-blue">yum...</h5>
    </div>
    <div class="badge">
      <img src="style/images/food-scout.png" alt="Sout Badge">
      <h4 class="dark-blue">Food Scout</h4>
      <h5 class="dark-blue">yum...</h5>
    </div>
  </div>
</section>
